[color]
	diff = auto
	status = auto
	branch = auto
[core]
	autocrlf = false
	eol = lf
	excludesfile = ~/.gitignore
[merge "ours"]
	driver = true
[alias]
	st = status
	oneline = log --pretty=oneline --abbrev-commit --graph --decorate
	lc = !git oneline ORIG_HEAD.. --stat --no-merges
	ci = commit
	co = checkout
	br = branch
	a = !git add -A && git status -sb
[credential]
	helper = store
[user]
	email = dijoux.vin@gmail.com
	name = Vincent DIJOUX
[push]
    default = simple