[color]
	diff = auto
	status = auto
	branch = auto
[core]
	autocrlf = input
	eol = lf
[merge "ours"]
	driver = true
[alias]
	st = status
	oneline = log --pretty=oneline --abbrev-commit --graph --decorate
	lc = !git oneline ORIG_HEAD.. --stat --no-merges
	ci = commit
	co = checkout
	br = branch
